{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Add a Car
{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/car_form.css' %}">
{% endblock css %}
{% block content %}
    <div class="container">
    <h1>Add a Car</h1>
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in car_form %}
        <p>{{ field.label_tag }} {{ field }}</p>
        {% endfor %}
        <button class= "btn btn-primary" type="submit" value="Add Car">Add Car </button>
    </form>
    </div>
{% endblock content %}