{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Add a Route
{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/route_form.css' %}">
{% endblock css %}
{% block content %}
    <div class="container">
    <h1>Add a Route</h1>
    <form method="post">
        {% csrf_token %}

      {{ route_form.as_p }}
    <button class= "btn btn-primary" type="submit" value="Add Route">Add Route</button>

    </form>
</div>
{% endblock content %}